<div class="mat-elevation-z8 center">
    <div class="add-icon-container"> 
        <a class="add-icon" mat-button [routerLink]="'/users/add'">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        </a>
    </div>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>{{'id'}}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{'name'}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.name}}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef>{{'surname'}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.surname}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>{{'email'}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.email}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button class="button-icon" color="primary" (click)="edit(row)">
                    <mat-icon class="primary">edit</mat-icon>
                </button>
                <button mat-icon-button class="button-icon" color="warn" (click)="delete(row)">
                    <mat-icon class="warn">delete</mat-icon>
                </button>
                <button mat-icon-button class="button-icon" color="primary" (click)="gotoEvents(row)">
                    <mat-icon class="default">history</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>